<div class='d-flex flex-row text-white'>

  <div class=''>
    <%= cl_image_tag(@article.image, width: 200, height: 200)%>
  </div>
  <div class='d-flex flex-column mx-2'>
    <strong><%= @article.title %></strong>
    <p><%= @article.text %></p>
    <em><%= @article.author.name %><em>
        <div class='mt-3'>
          <%= show_vote_btn(@article)%>
          <em class="badge bg-primary mx-3"><%= @article.votes.count.to_s + ' Vote(s)' %></em>
        </div>
  </div>

</div>