<article>
  <% Article.all.each do |article| %>
  <div class="row">
    <div class='col-3'>
      <div class='card'>
        <% if article.image.attached? %>
        <%=image_tag article.image.variant(resize_to_limit: [300, 300]) %>
      </div>
    </div>
    <div class='col-3'>
      <div class='card-body'>
        <h5 class='card-title'><%= article.title %></h5>
        <p class='card-text'>
          <%= article.text %>
        </p>
        <%= show_vote_btn(article)%>
        <h6 class="card-text mt-2"><%=article.author.name %> </h6>
      </div>
    </div>
    <% end%>
  </div>
  <article>
    <% end %>