<article>
  <div class='card'>
    <% Article.all.each do |article| %>
    <div class="row g-0">
      <div class='col-3'>
        <% if article.image.attached? %>
        <%= link_to "#{image_tag(article.image.variant(resize_to_limit: [300, 300]))}".html_safe  , article_path(article) %>
      </div>
      <div class='col-3'>
        <div class='card-body'>
          <h5 class='card-title'><%= article.title %></h5>
          <p class='card-text'>
            <%= article.text.truncate_words(7) %>
          </p>
          <%= show_vote_btn(article)%><em class="badge bg-primary mx-3"><%= article.votes.count.to_s + ' Vote(s)' %></em>
          <h6 class="card-text mt-2"><strong>Author: </strong><%=article.author.name %> </h6>
        </div>
      </div>
      <% end%>
    </div>
    <% end %>
  </div>
  </div>
  <article>